::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #919191;
    opacity: 1;
    /* Firefox */
}

.container {
    width: 360px;
    max-height: 60%;
    overflow: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.panel {
    input {
        height: 52px;
        width: 100%;
        margin: 4px 0;
        background-color: rgb(250 250 170 / 1);
        padding: 11px 33px 11px 41px;
        position: relative;

    }

    .info {
        text-align: center;
        padding: 25px 15px;
        color: #919191;
    }
}

.carlist {
    .thumbnail {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }

    .eth {
        width: 30px;
        height: 30px;
        font-size: 30px;
    }
}

.confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px grey solid;
    height: 60px;
    position: relative;

    button {
        position: absolute;
        bottom: 0;
        height: 85%;
        width: 90%;
        color: white;
        background-color: black;
    }
}