<nav id="nav" class="flex justify-center fixed top-0 left-0 right-0 bg-black">
    <div class="flex logo mr-14">
        <a href="#" class="text-3xl cursor-pointer p-1 mr-4 font-medium text-white rounded-lg hover:bg-slate-100 hover:text-slate-900">Uber</a>
    </div>
    <div class="route flex justify-center">
        <a href="/" class="text-base cursor-pointer px-5 text-white rounded-lg hover:bg-slate-100 hover:text-slate-900">Rides</a>
        <a href="/" class="text-base cursor-pointer	px-5 text-white rounded-lg hover:bg-slate-100 hover:text-slate-900">Drive</a>
        <a href="/" class="text-base cursor-pointer	px-5 text-white rounded-lg hover:bg-slate-100 hover:text-slate-900">More</a>

    </div>
    <div class="user flex items-center ml-7">
        <a href="#" class="text-base cursor-pointer	px-5 text-white rounded-lg hover:bg-slate-100 hover:text-black">Help</a>
        <div href="#" class="flex items-center cursor-pointer text-base px-5 text-white rounded-lg hover:bg-slate-100 hover:text-black">
            <h3>User</h3>
            <div class="profile text-white cursor-pointer cursor-pointer flex justify-center items-center pl-4 hover:bg-slate-100 hover:text-black">
                <img src="../../assets/man.png" class="h-11 w-11 mr-4" alt="user">
                <h4>{{'0x3ehd6s..k2hsdf' | slice:0}}</h4>
            </div>
        </div>
    </div>
</nav>